<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springreact.mapper.accountMapper">

    <insert id="insert" parameterType="com.example.springreact.domain.Account">

        insert into account(account_code, name, phone_number)
        values(seq_account.nextval,#{name},#{phone_number})

    </insert>


    <select id="getListAll" resultType="com.example.springreact.domain.Account">
		<![CDATA[
            select * from account where account_code > 0
        ]]>
	</select>


    <select id="getListOne" resultType="com.example.springreact.domain.Account">
        select * from account where account_code = #{account_code}
    </select>


    <update id="update" parameterType="com.example.springreact.domain.Account">
        update account
        set name = #{name},
            phone_number = #{phone_number}
        where account_code = #{account_code}
    </update>


    <delete id="delete" parameterType="int">
        delete from account where account_code = #{account_code}
    </delete>

</mapper>
