<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springreact.mapper.StorageMapper">

	<select id="get" resultType="com.example.springreact.domain.Storage">
		<![CDATA[
  		select * from storage where storage_code=#{storage_code}
  		]]>
	</select>

	<select id="getList" resultType="com.example.springreact.domain.Storage">
		<![CDATA[
  		select * from storage where storage_code>0
  		]]>
	</select>
	
<!-- seq_storage.nextval or #{storage_code}-->
	<insert id="register" >
		insert into storage(storage_code, name, location, manager,max_loadage)
		values (seq_storage_code.nextval, #{name}, #{location}, #{manager},#{max_loadage})
	</insert>
	
	<update id="update">
		update storage set
			name=#{name},
			location=#{location},
			manager=#{manager},
			max_loadage=#{max_loadage}
		where
			storage_code=#{storage_code}
	</update>
	
	<delete id="delete">
		delete from storage where storage_code=#{storage_code}
	</delete>
	
	
	
	
</mapper>